<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script src="javascripts/signUp.js"></script>
  </head>
  <body>
    <div class="wrap">
      <form action="" method="post" class="wrap_form">
        <fieldset class="fieldset">
          <legend>회원가입</legend>
          <div class="wrap_input">
            <label for="userId" class="input_name">ID</label>
            <input
              type="text"
              name="userId"
              class="input_content"
              id="userId"
            />
          </div>
          <div class="wrap_input">
            <label for="userPw" class="input_name">PW</label>
            <input
              type="password"
              name="userPw"
              class="input_content"
              id="userPw"
            />
          </div>
          <div class="wrap_input">
            <label for="userName" class="input_name">Name</label>
            <input
              type="text"
              name="userName"
              class="input_content"
              id="userName"
            />
          </div>
          <div class="wrap_btn">
            <button class="btn_submit">회원가입</button>
            <button class="btn_cancel">취소</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
