html,
body,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap_form {
  background-color: greenyellow;
  padding: 10px 10px;
}

fieldset {
  border: 0;
}

.input_name {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
}

.wrap_input {
  margin-bottom: 10px;
}
